.profile__edit-button {
    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: transparent;
}

@media screen and (max-width: 780px) {
    .profile__edit-button {
        position: absolute;
        right: 5%;
        top: 10%;
        width: 18px;
        height: 18px;
    }
}