@import url('../blocks/page/page.css');
@import url('../vendor/normalize.css');
@import url('../vendor/fonts/inter.css');
@import url('../blocks/header/header.css');
@import url('../blocks/header/__logo/header__logo.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__info/profile__info.css');
@import url('../blocks/profile/__name/profile__name.css');
@import url('../blocks/profile/__edit-button/profile__edit-button.css');
@import url('../blocks/profile/__edit-button-icon/profile__edit-button-icon.css');
@import url('../blocks/profile/__discription/profile__discription.css');
@import url('../blocks/profile/__add-button/profile__add-button.css');

.elements {
}

.elements__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto 66px auto;
    padding: 0;
    justify-content: center;
    gap: 20px 17px;
}

.elements__element {
    max-width: 361px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.elements__element:nth-child(3n) {
    margin-right: 0px;
}

.elements__content {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px 31px 20px;
    align-items: center;
}

.elements__discription {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: calc(29/24);
}


@media screen and (max-width: 880px) {

}

@media screen and (max-width: 780px) {

}

@media screen and (max-width: 450px) {

}

@media screen and (max-width: 320px) {

}